<div class="flex-around-buttons">
    <a class="bs_btn" href="/online-video-poker/">
        <span class="icon">
            <img
                class="lazy lazy-loaded"
                title="video poker"
                src="https://imgix.cosmicjs.com/7c679620-220f-11ec-a33b-09138673c894-video-poker-80x80.png"
                data-lazy-type="image"
                data-lazy-src="https://imgix.cosmicjs.com/7c679620-220f-11ec-a33b-09138673c894-video-poker-80x80.png"
                alt="video poker"
            />
            <noscript><img title="video poker" src="https://imgix.cosmicjs.com/7c679620-220f-11ec-a33b-09138673c894-video-poker-80x80.png" alt="Pokies Online" /></noscript>
        </span>
        <span class="text">Video Poker</span>
    </a>
    <a class="bs_btn" href="/online-roulette/">
        <span class="icon">
            <img
                class="lazy lazy-loaded"
                title="Online  Roulette"
                src="https://imgix.cosmicjs.com/7c65c160-220f-11ec-a33b-09138673c894-roulette-80x80.png"
                data-lazy-type="image"
                data-lazy-src="https://imgix.cosmicjs.com/7c65c160-220f-11ec-a33b-09138673c894-roulette-80x80.png"
                alt=" Roulette Online"
            />
            <noscript><img title="Online Blackjack" src="https://imgix.cosmicjs.com/7c65c160-220f-11ec-a33b-09138673c894-roulette-80x80.png" alt="Blackjack Online" /></noscript>
        </span>
        <span class="text"> Roulette</span>
    </a>
    <a class="bs_btn" href="/online-baccarat/">
        <span class="icon">
            <img
                class="lazy lazy-loaded"
                title="Online Roulette"
                src="https://imgix.cosmicjs.com/7c663690-220f-11ec-a33b-09138673c894-baccarat-80x80.png"
                data-lazy-type="image"
                data-lazy-src="https://imgix.cosmicjs.com/7c663690-220f-11ec-a33b-09138673c894-baccarat-80x80.png"
                alt="baccarat Online"
            />
            <noscript><img title="Online Roulette" src="https://imgix.cosmicjs.com/7c663690-220f-11ec-a33b-09138673c894-baccarat-80x80.png" alt="Baccarat Online" /></noscript>
        </span>
        <span class="text">Baccarat</span>
    </a>
    <a class="bs_btn" href="/online-slots/">
        <span class="icon">
            <img
                class="lazy lazy-loaded"
                title="Online Baccarat"
                src="https://imgix.cosmicjs.com/7c66abc0-220f-11ec-a33b-09138673c894-slots-80x80.png"
                data-lazy-type="image"
                data-lazy-src="https://imgix.cosmicjs.com/7c66abc0-220f-11ec-a33b-09138673c894-slots-80x80.png"
                alt="Baccarat Online"
            />
            <noscript><img title="Online Baccarat" src="https://imgix.cosmicjs.com/7c66abc0-220f-11ec-a33b-09138673c894-slots-80x80.png" alt="Baccarat Online" /></noscript>
        </span>
        <span class="text">Baccarat</span>
    </a>
    <a class="bs_btn" href="/online-craps/">
        <span class="icon">
            <img
                class="lazy lazy-loaded"
                title="Online Bingo"
                src="https://imgix.cosmicjs.com/7c353b80-220f-11ec-a33b-09138673c894-craps-80x80.png"
                data-lazy-type="image"
                data-lazy-src="https://imgix.cosmicjs.com/7c353b80-220f-11ec-a33b-09138673c894-craps-80x80.png"
                alt="Bingo craps"
            />
            <noscript><img title="Online craps" src="https://imgix.cosmicjs.com/7c353b80-220f-11ec-a33b-09138673c894-craps-80x80.png" alt="Bingo craps" /></noscript>
        </span>
        <span class="text"> Online Craps</span>
    </a>
    <a class="bs_btn" href="/online-blackjack/">
        <span class="icon">
            <img
                class="lazy lazy-loaded"
                title="Online Blackjack"
                src="https://imgix.cosmicjs.com/7c66f9e0-220f-11ec-a33b-09138673c894-blackjack-80x80.png"
                data-lazy-type="image"
                data-lazy-src="https://imgix.cosmicjs.com/7c66f9e0-220f-11ec-a33b-09138673c894-blackjack-80x80.png"
                alt="Blackjack Online"
            />
            <noscript><img title="Online Blackjack" src="https://imgix.cosmicjs.com/7c66f9e0-220f-11ec-a33b-09138673c894-blackjack-80x80.png" alt="Blackjack Online" /></noscript>
        </span>
        <span class="text">Blackjack</span>
    </a>

</div>