<title>Thunderstruck 2 Online Slot Review – Play Thunderstruck review at American Microgaming casinos</title>
<meta name="description" content="Thunderstruck 2 Online slot review. Battle it out with the kings of the beasts as these big boys leap from the reels. Another epic US slot game from Microgaming."> 
<meta name="keywords" content="Thunderstruck 2 Review"> 
<meta name="robots" content="Index,follow" />
<link href="https://en.crazyvegas.com/thunderstruck-two-online-slot-review" rel="canonical">



<div id="main" class="">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div id="content">
                    <div class="main-review">
                        <h1>Thunderstruck 2 Online Slot Review</h1>

                        <p>Are you an <a href="/online-slots">online slots</a> fan looking for the best slots on the Internet. Thunderstruck II is a slot legend waiting to reward top online gaming players. Thunderstruck II features an ancient theme with the mighty Thor who conquers
                            everything.</p>
                            <h2>Thunderstruck 2 Tips</h2>
                            <p>Thunderstruck II takes off where the original Thunderstruck online slot left off. &nbsp;Thunderstruck II is bigger and better than before. This five-reel video slot game offers players a striking 243 ways to win.</p>
                            <ul>
                            <li>The Symbol of Thor&rsquo;s Hammer is a trigger Symbol.</li>
                            <li>Land three of these symbols anywhere on the reels to trigger the Great Hall of Spins bonus game.</li>
                            <li>During &ldquo;The Great Hall of Spins&rdquo; bonus feature players will feature 20 slots. Each slot will fill in, every time players enter the bonus feature. For every fifth time this bonus feature is activated, it awards Free Spins. There are four different
                            Free Spins features that will award differently.</li>
                            <li>With the first 5th slot, it triggers the Valkyrie feature. This awards 10 Free Spins with a 5x Multiplier.</li>
                            <li>With the second 5th slot, it triggers the Loki feature. This awards 15 Free Spins with Wild Magic Lightning and extra wilds.</li>
                            <li>With the third 5th slot, it triggers the Odin feature. This awards 20 Free Spins with 2x, 3x, or 6x multiplier rewards.</li>
                            <li>With the fourth 5th slot, it triggers the Thor feature. This awards 25 Free Spins with Rolling Reels and a 5x multiplier.</li>
                            <li><strong>Wild Storm feature:</strong> Triggered randomly and once activated, it will hold any of the five reels as a wild During this feature, Free Spins are awarded.</li>
                            <li>You can win the ultimate staggering prize of 121,500.00 in the Wild Storm Bonus.</li>
                            <li>As you play, you can unlock a variety of Bonus games. These games will reward you with prizes like 2,500 and 6,000 on some of the simpler games. You are on your way to a mythical, mystical land of treasures, excitement, and rewards.</li>
                            </ul>
                            <h2>Why Play Thunderstruck II?</h2>
                            <p>Thunderstruck II is all about achievements. The more achievements you can churn, the more money you will earn. Avoid the dangers and the traps, as you work towards your gold status. Thunderstruck 2 is bound to unleash the wild adventurer in your heart.
                            So, put on your boots and grab your warmest jacket, Thunderstruck II awaits you.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

