<title>hi-lo-roller Review – Play hi-lo-roller at American Microgaming casinos</title>
<meta name="description" content="hi-lo-roller slot review. Battle it out with the kings of the beasts as these big boys leap from the reels. Another epic US slot game from Microgaming."> 
<meta name="keywords" content="Hi lo roller Review"> 
<meta name="robots" content="Index,follow" />
<link href="https://en.crazyvegas.com/hi-lo-roller-slot-review" rel="canonical">



<div id="main" class="">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div id="content">
                    <div class="main-review">
                        <h1>Review of Hi Lo Roller Online Slot Machine</h1>

                        <p>The Hi Lo Roller slot machine may seem relatively simple; however, this online slot promises more payouts and more jackpots for <a href="/">online casino</a> players. Don&rsquo;t be fooled by this fruit machine because the success of
                            online slots were built on slots like these. Hi Lo Roller Is not your typical fruit machine as it makes use of <a href="/online-slots/5-reel-slots">5 reels</a> and has 20 paylines. The return to player percentage (RTP) rests comfortably on 96.21%, which
                            stays true to its promise of paying players out more often. There are also a couple of bonus features that could just make you walk away with some huge money prizes.</p>
                            <h2>Hi Lo Roller Gameplay</h2>
                            <p>While this online slot makes use of pretty basic symbols, the graphics are still impressive. This slot game is suited for slot players who prefer a less complicated and complex slot machine. However, being a video slot, this slot machine still promises
                            to deliver some entertaining visuals and sounds.</p>
                            <h2>How to Win in Hi Lo Roller</h2>
                            <h3>Traditional symbols</h3>
                            <p>Hi Lo Roller is your typical example of a fruit machine as it features a host of colourful fruit symbols. Some of the traditional symbols it makes use of include, Cherries and Lemons, which payout 50 coins for five of a kind. There&rsquo;s also Oranges
                            and Plums that pay a maximum of 100 coins for lining up five of these symbols.</p>
                            <h3>Bonus symbols</h3>
                            <p>The Golden Bell symbol awards players with 200 coins when they land five of these symbols on the reels, and the same goes for landing the bar symbols. The blue seven pays 250 coins when 5 appear across the reels. The red seven and hi lo roller symbols
                            are the real money makers as they are the highest payout symbols in this slot game. Landing five Red Sevens or Hi Lo Roller symbols will award players with 500 coins. The Hi Lo Roller also acts as the wild in this online slot.</p>
                            <h2>Hi Lo Roller Bonus Features</h2>
                            <h3>Hi Lo bonus game</h3>
                            <p>One of the bonus features included in this slot is the Hi Lo bonus game round. Every time you score a winning combination, you can choose to gamble on it in order to increase your payout. &nbsp;Unlike most other online slots, there is a win &amp; lose
                            meter that determines how much you can win from each gamble. All you need to do when gambling is select between Hi or Lo as the machine has a reel with numbers between 1 to 12. Win and you&rsquo;ll get a larger payout, but lose and you&rsquo;ll throw
                            it all away.</p>
                            <h3>Hi Lo wheel bonus game</h3>
                            <p>To trigger the Hi Lo wheel bonus game, players need to land between three or five Hi Lo symbols. This offers players the opportunity to gamble on either side of the reels, whichever they think will win to increase their chances and their payouts. Winning
                            big prizes are easier than you think during this bonus game.</p>
                            <h3>Jackpot chance wheel</h3>
                            <p>The jackpot chance wheel is activated when three overlay symbols appear on the reels. This bonus game is much simpler than the Hi Lo bonus wheel. All players need to do with this bonus game is spin the jackpot chance wheel where they will win one of four
                            level awards or a chance at the Hi Lo bonus wheel. The jackpot chance wheel can be retriggered.</p>
                            <h2>Win Big with Hi Lo Roller</h2>
                            <p>If you&rsquo;ve ever wanted to win bigger cash amounts at the <a href="/online-slots">online slots</a>, this is the game for you. It&rsquo;s packed with winning potential and you&rsquo;re sure to have a good time doing it too. You&#39;ll even be allowed
                            to play Hi Lo Roller for free to get the hang of it. When you&rsquo;re ready and feeling lucky, simply deposit some real money and get the reels spinning at your favourite casino site.</p>
                            <p>s</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

