<!-- page template -->
<title>Title</title>
<meta name="description" content="Short description"> 
<meta name="keywords" content="keywords"> 
<meta name="robots" content="Index, nofollow" />
<link href="" rel="canonical">


<div id="main" class="">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div id="content">
                    <div class="main-page-content">
                        <!-- h1 -->
                        <h1>your H1</h1>
                        <!-- h2 -->
                        <h2></h2>
                        <!-- h3 -->
                        <h3></h3>

                        <!-- to add table -->
                        <app-main-table></app-main-table>

                        <!-- right image -->
                        <img src="image.jpg" alt="" title=""  class="right-image">

                        <!-- left image -->
                        <img src="image.jpg" alt="" title=""  class="left-image">
                        
                        <!-- center image -->
                        <img _ngcontent-serverapp-c37="" src="image.jpg" alt="" title="" class="aligncenter size-full wp-image-3855 fr-fic fr-dii">

                        <!-- for paragraph -->
                        <p> </p>
                       
                        <!-- to bold -->
                        <b></b>
                

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- template for review pages -->

<title>Title</title>
<meta name="description" content="Short description"> 
<meta name="keywords" content="keywords"> 
<meta name="robots" content="Index, nofollow" />
<link href="" rel="canonical">


<div id="main" class="">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div id="content">
                    <div class="main-review">
                        <!-- h1 -->
                        <h1>your H1</h1>
                        <!-- h2 -->
                        <h2>your H2</h2>
                        <!-- h3 -->
                        <h3>your H2</h3>

                        <!-- to add table -->
                        <app-main-table></app-main-table>

                        <!-- right image -->
                        <img src="image.jpg" alt="" title=""  class="right-image">

                        <!-- left image -->
                        <img src="image.jpg" alt="" title=""  class="left-image">
                        
                        <!-- center image -->
                        <img _ngcontent-serverapp-c37="" src="image.jpg" alt="" title="" class="aligncenter size-full wp-image-3855 fr-fic fr-dii">

                        <!-- for paragraph -->
                        <p> </p>
                       
                        <!-- to bold -->
                        <b></b>
                

                    </div>
                </div>
            </div>
        </div>
    </div>

